---
title: GoPay PSD2 API
locale: en
toc_footers:
  - <a href='http://www.gopay.com'>GoPay website</a>
  - <a href='http://help.gopay.com/en'>Help center</a>
  - <a href="https://doc.gopay.com/psd2/cs/"><img src = "../images/CSsmall.png"></a> <a href="https://doc.gopay.com/psd2/en/"><img src = "../images/ENsmall.png"></a>
search: true
---

# GoPay PSD2 API

<%= partial "includes/languages" %>    


The implementation uses communication via REST API.

`Sandbox` enviroment is located at ```https://gw.sandbox.gopay.com/api```.    

`Production enviroment` is located at ```https://gate.gopay.cz/api```. 
  
All comunication with API is encoded in UTF-8.  


## How it works?

PSD2 is a [directive](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32015L2366) that covers payment services in European Union.

The GoPay PSD2 services offer to the Third Party Providers (`TPP`) read the information (account state, account statement) about the owner of electronic money account or create payments with the owner's consent to another electronic money account.

GoPay PSD2 API offers 2 types of services:

- [Account information service](#account-information-service) (AIS)
- [Payment initiation service](#paymen-initiation-service) (PIS)