---
title: GoPay PSD2 API
locale: cs
toc_footers:
  - <a href='http://www.gopay.com'>Oficiální web GoPay</a>
  - <a href='http://help.gopay.com/cs'>Centrum nápovědy</a>
  - <a href="https://doc.gopay.cz"><img src = "../images/CSsmall.png"></a> <a href="https://doc.gopay.com"><img src = "../images/ENsmall.png"></a>
search: true
---

# Dokumentace

<%= partial "includes/languages" %>

<b>GoPay PSD2 API</b>

Implementace využívá komunikace pomocí REST API.

`Testovací API` se nachází na adrese ```https://gw.sandbox.gopay.com/api```.    

`Provozní API` se nachází na adrese ```https://gate.gopay.cz/api```. 
  
Pro veškerou příchozí i odchozí komunikaci s API je použito kódování UTF-8.  
  
